* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: rgb(255, 255, 255);
  --image-box-shadow: rgba(0, 0, 0, 0.2);
  --filter-btn-border: #42494feb;
  --filter-btn-shadow-light: rgba(255, 255, 255, 0.5);
  --filter-btn-shadow-dark: rgba(0, 0, 0, 0.5);
  --filter-gradient-light: #535b61;
  --filter-gradient-dark: #323B40;
  --filter-btn-hover: rgb(189, 189, 189);
}

body {
  margin: 0 auto;
  max-width: 1300px;
  min-height: 100vh;
  font-family: sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 20px;
}

.main-container > .sub-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-container > .title-container {
  display: flex;
  height: 100px;
  margin-bottom: 30px;
  user-select: none;
}

.main-container > .title-container > .oscar {
  height: 70px;
}

.main-container > .title-container > h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
}

.gallery-section {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.main-container-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 10px 20px var(--image-box-shadow);
}

.icons-container {
  position: absolute;
  z-index: 20;
  bottom: 0;
  padding: 20px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
}

.icons-container > a > i {
  font-size: 24px;
  color: var(--white); 
  margin-top: 15px;
  cursor: pointer;
}

.image {
  width: 300px;
  height: 450px;
  transition: all 0.8s ease;
}

.name-container {
  color: var(--white);
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  font-size: 24px;
  padding: 20px;
  transition: all 0.8s ease;
}

.name-container > h3,
.name-container > h4 {
  margin: 0;
  font-weight: 400;
  margin-bottom: 5px;
}

.filter-bar {
  display: flex;
  justify-content: center;
  height: auto;
  border-radius: 15px;
  background-color: transparent;
  border: none;
  color: var(--white);
  margin-right: 25px;
  user-select: none;
  width: 200px;
}

.filter-bar-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  transition: all 1s;
  border-radius: 10px;
  padding: 20px 15px;
  color: var(--white);
  position: sticky;
  top: 2vh;
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  height: 100px;
}

.button-container > .filter-button {
  margin: 0 20px;
  padding: 10px;
  width: 100%;
  border-radius: 100px;
  background-color: var(--filter-btn-border);
  cursor: pointer;
  transition: all 1s ease;
  border: none;
  margin-bottom: 10px;
}

.button-container > .filter-button > span {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 15px;
  border-radius: 100px; 
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
  border-bottom: 2px solid var(--filter-btn-shadow-dark);
  border-top: 2px solid var(--filter-btn-shadow-light);
  background: linear-gradient(var(--filter-gradient-light), var(--filter-gradient-dark));
  transition: all 0.4s;
}

.button-container > .filter-button > span > svg {
  height: 1.3em;
  width: 1.3em;
  margin-right: 15px;
}

.button-container > .filter-button > span:hover {
  box-shadow: 0 0 30px var(--filter-btn-hover);
}

@media screen and (max-width: 1200px) {
  .gallery-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .main-container > .sub-container {
    flex-direction: column;
  }

  .gallery-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .filter-bar {
    width: 100%;
    margin-bottom: 30px;
  }

  .filter-bar-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-height: 275px !important;
  }

  .button-container {
    margin-bottom: 10px;
    height: 65px;
  }
  
  .filter-button > span {
    padding: 8px;
    font-size: 16px;
  }

  .filter-button > span > svg {
    height: 1.2em;
    width: 1.2em;
  }

  .filter-button {
    padding: 8px;
  }
}

@media screen and (max-width: 850px) {
  .gallery-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .main-container-image {
    max-width: 100%;
    height: auto;
  }

  .image {
    background-size: 380px !important;
    width: 100% !important;
    height: 500px !important;
  }

  .image:hover {
    background-size: 700px !important;
  }

  .filter-bar-buttons {
    max-height: 360px !important;
    grid-template-columns: repeat(2, 1fr);
  }

  .filter-button {
    margin: 0 15px;
  }

  .filter-button > span > svg {
    height: 1.1em;
    width: 1.1em;
  }
}

@media screen and (max-width: 768px) {
  .filter-button {
    margin: 0 10px;
    padding: 5px;
  }
}

@media screen and (max-width: 600px) {
  .main-container {
    margin: 30px 20px;
  }
  .main-container > .title-container {
    margin: 0;
  }
  .main-container > .title-container > .oscar {
    height: 65px;
  }

  .main-container > .title-container > h1 {
    margin-top: 25px;
    font-size: 40px;
  }

  .gallery-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .filter-button {
    margin: 0 5px;
  }

  .image {
    background-size: 540px !important;
    height: 650px !important;
  }

  .image:hover {
    background-size: 850px !important;
  }
}

@media screen and (max-width: 420px) {
  .main-container > .title-container > .oscar {
    height: 65px;
  }

  .main-container > .title-container > h1 {
    margin-top: 25px;
    font-size: 35px;
  }

  .filter-button {
    width: 140px !important;
    margin: 0 !important;
    padding: 7px !important;
  }

  .filter-button > span {
    padding: 7px !important;
  }

  .filter-button > span > svg {
    margin-right: 5px !important;
  }

  .filter-button > span > span {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .main-container > .title-container > .oscar {
    height: 50px;
  }

  .main-container > .title-container > h1 {
    margin-top: 25px;
    font-size: 30px;
  }
}

@media screen and (max-width: 350px) {
  .filter-button > span > svg {
    height: 1em !important;
    width: 1em !important;
  }

  .main-container > .title-container > h1 {
    font-size: 26px;
  }

  .filter-button {
    width: 120px !important;
  }
}